.features {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  background: var(--ifm-feature-background-color);
}

.featureSvg {
  height: 200px;
  width: 200px;
}
