/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
}

.heroBanner img {
  margin: 0px 20px;
}

.buttons {
  --ifm-button-size-multiplier: 1.6;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.buttons a,
.buttons a:hover {
  color: #fff !important;
  background: #032341;
  width: 100%;
  padding: 10px;
}

.buttons a:last-of-type {
  margin-top: 20px;
}

.gitHubButton {
  overflow: hidden;
}

.highlightedColor {
  color: #F7F8F8;
}


@media only screen and (max-width: 768px) {
  .gitHubButtonWrapper {
    display: none;
  }
}