/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
}

.heroBanner img {
  margin: 0px 20px;
}

@media only screen and (max-width: 768px) {
  .buttons a {
    margin: 5px 36px;
  }

  .gitHubButtonWrapper {
    display: none;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  --ifm-button-size-multiplier: 1.6;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.buttons a,
.buttons a:hover {
  color: #fff !important;
  background: #032341;
  width: 350px;
}

.buttons a:last-of-type {
  margin: 20px 36px;
}

.gitHubButton {
  overflow: hidden;
}

.highlightedColor {
  color: var(--ifm-heading-color)
}